ion-view data-comp-id="ionic-view.1"&gt;
<ion-nav-bar align-title="" class=" bar-assertive" data-comp-id="nav-bar.1">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
    </ion-nav-buttons>
    <ion-nav-title data-comp-id="nav-title.1">ViewIssues</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-home" data-comp-id="button.2"></button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-content data-comp-id="ionic-content.1">
    <ion-checkbox class="" data-comp-id="checkbox.1" ng-model="item.selected"
        ng-repeat="item in __multiselectModalData.options" style="font-size:10pt">
        {{item.label || '&nbsp;'}}
    </ion-checkbox>
    <div class="row" data-comp-id="row.1">
        <div class="col" data-comp-id="column.1"
            style="border-right: solid rgb(33, 77, 88);">
            <div data-comp-id="text.1" ng-bind="item.ID">ID</div>
        </div>
        <div class="col" data-comp-id="column.2">
            <div data-comp-id="text.2" ng-bind="item.status">Status</div>
        </div>
    </div>
    <div class="row" data-comp-id="row.2" style="border-top: solid rgb(33, 77, 88);">
        <div class="col" data-comp-id="column.3">
            <div data-comp-id="text.3" ng-bind="item.Summary">Summary</div>
        </div>
    </div>
</ion-content>